:root {
	--dark-blue: rgb(0,10,20);
	--dark-blue-complement: rgb(218, 204, 159);
	--dark-green: rgb(20,50,60);
	--dark-green-complement: rgb(230,200,190);
	--dark-grey: rgb(30, 30, 30);
	--dark-grey-complement: rgb(220, 220, 220);
	--dark-red: rgb(100,40,50);
	--dark-red-complement: rgb(159,218,204);
	--github-dark: rgb(13,17,23);
	--grey: rgb(50,50,50);
	--light-red: rgb(125,65,75);
}

* {
	box-sizing: border-box;
}

a {
	color: var(--dark-grey-complement);
	text-decoration: none;
}

#welcome-section a:visited {
	color: rgb(170, 170, 170);
}

body {
	color: var(--dark-grey-complement);
	font-family: sans-serif;
	font-size: 1.6rem;
	margin: auto;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.center {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.center.middle {
	transform: translate(-50%, -50%);
}

.container {
	position: relative;
}

#copyright {
	text-align: center;
}

footer {
	background-color: var(--dark-grey);
	height: 100px;
}

h2 {
	margin-top: 0;
	text-align: center;
	text-decoration: underline;
}

.hidden {
	display: none;
}

html {
	/* Setting a base font size of 10px give us easier rem calculations
	   Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth */
	font-size: 10px;
}

#links {
	background-color: var(--dark-green);
	background-image: linear-gradient(60deg, rgb(120,140,150) 0%, rgb(90,110,120) 25%, rgb(60,80,90) 75%, var(--dark-green) 100%);
	height: calc(100vh - 100px);
}

#links a {
	font-weight: 600;
}

#links a:hover {
	opacity: 0.6;
}

#links, #projects {
	padding-top: 64px;
}

main {
	height: auto;
	margin-top: 64px;
	min-height: calc(100vh - 100px);
}

.middle {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#navbar {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--dark-red);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#navbar a {
	display: block;
	font-size: 1.3em;
	padding: 2rem;
}

#navbar a:hover {
	background: var(--light-red);
}

#navbar li {
	text-align: center;
	width: 33%;
}

#navbar > ul {
	display: flex;
	list-style: none;
	margin: 0 1rem;
	padding: 0;
	width: 100%;
}

#projects {
	background-color: var(--dark-grey);
	background-image: linear-gradient(90deg, var(--dark-grey) 0%, var(--grey) 30%, var(--grey) 70%, var(--dark-grey) 100%);
}

.project-description {
	margin-left: 8px;
	margin-right: 8px;
}

#projects-grid {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#projects-grid > a {
	margin: 24px;
	max-width: 304px;
}

#projects-grid > a:last-child {
	align-items: center;
	display: flex;
	font-weight: 600;
	justify-content: center;
	min-width: 304px;
}

#projects-grid > a:not(:last-child) {
	background-color: var(--github-dark);
	border: 1px var(--grey) solid;
	border-radius: 5px;
}

#projects a:hover {
	opacity: 0.7;
}

.project-tag {
	background-color: var(--grey);
	border-radius: 4px;
	margin: 2px;
	padding: 3px;
}

.project-tag-container {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
	min-height: 50px;
	margin-left: 8px;
	margin-right: 8px;
}

.project-tile {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.project-tile img {
	border-radius: inherit;
	width: 100%;
}

.project-tile figure {
	border-radius: inherit;
	margin: 0;
	width: 100%;
}

.project-title {
	margin-left: 8px;
	margin-right: 8px;
}

.right {
	position: absolute;
	right: 0;
}

#self-portrait {
	border: 3px var(--dark-grey-complement) solid;
	border-radius: 50%;
	height: 144px;
}

.social-icon {
	height: 32px;
}

#social-icon-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#social-icon-grid-container {
	align-items: center;
	display: flex;
	height: calc(100vh - 64px - 48px - 100px);
	justify-content: center;
}

#social-icon-grid figure {
	align-items: center;
	display: flex;
	width: 92px;
}

#social-icon-grid figure > figcaption {
	margin-left: 8px;
}

.top {
	position: absolute;
	top: 0;
}

#welcome-section {
	align-items: center;
	background-color: var(--dark-blue);
	background-image: linear-gradient(60deg, rgb(30,40,50) 0%, var(--dark-blue) 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 64px;
	text-align: center;
	height: calc(100vh - 64px);
}

#welcome-section a:hover {
	opacity: 0.5;
}

/* Start media queries */

/* Start medium-sized screen queries */
@media (min-width: 719px) {

	#projects-grid > a {
		height: 408px;
		width: 304px;
	}
}
/* End medium-sized screen queries */

/* Start large-sized screen queries */
@media (min-width: 1080px) {

	#navbar li {
		width: auto;
	}

	#navbar ul {
		justify-content: flex-end;
	}
}
/* End large-sized screen queries */

/* End media queries */